/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Fonts */

/* common  */
:root {
  --green-gray-scale-900: #002603;
  --green-gray-scale-800: #173b1a;
  --green-gray-scale-700: #2b572e;
  --green-gray-scale-600: #406b42;
  --green-gray-scale-500: #618062;
  --green-gray-scale-400: #7a997c;
  --green-gray-scale-300: #96b297;
  --green-gray-scale-200: #b4ccb4;
  --green-gray-scale-100: #dae5da;
  --green-gray-scale-50: #edf2ee;
  --gray-scale-gray-900: #1a1a1a;
  --gray-scale-gray-800: #333;
  --gray-scale-gray-700: #4d4d4d;
  --gray-scale-gray-600: #666;
  --gray-scale-gray-500: #808080;
  --gray-scale-gray-400: #999;
  --gray-scale-gray-300: #b3b3b3;
  --gray-scale-gray-200: #ccc;
  --gray-scale-gray-100: #e6e6e6;
  --gray-scale-gray-50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: "Poppins", sans-serif;
  --second-family: "Dancing Script", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-family);
}
/* common  */

/* header */
header {
  border-bottom: 1px solid #666;
}
.location_box span i {
  color: var(--gray-scale-gray-600);
  padding-right: 10px;
}
.location_box {
  display: flex;
  align-items: center;
}
.location_box p {
  margin: auto;
}
.location_box p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray-600);
}
.navigation_box ul {
  margin: auto 0;
  padding: 10px 0;
}
.navigation_box ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray-600);
}
.navigation_box ul li {
  padding-right: 15px;
}
/* header */

/* nav */
nav {
  margin: 10px 0;
}
.search {
  margin-left: auto;
  position: relative;
}
.search input {
  padding: 7px 90px 7px 29px;
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}
.search span {
  position: absolute;
  top: 10px;
  left: 7px;
}
.search_btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  background: var(--branding-success);
  border: none;
  padding: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.shopping .cart {
  font-weight: 400;
  font-size: 11px;
  color: var(--gray-scale-gray-700);
}
.shopping span {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-scale-gray-900);
}
.heart {
  font-size: 24px;
  color: var(--gray-scale-gray-400);
  border-right: 3px solid grey;
  padding-right: 10px;
}
.card_shop {
  font-size: 24px;
  color: var(--gray-scale-gray-400);
  padding-left: 10px;
}
.values {
  display: flex;
  align-items: center;
}

#navigation_menu {
  background: var(--gray-scale-gray-800);
  padding: 15px 0;
}
#navigation_menu ul {
  display: flex;
  align-items: center;
  margin: auto 0;
}
#navigation_menu ul li {
  padding-left: 20px;
}
#navigation_menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-400);
}
#navigation_menu ul li a:hover {
  color: white;
}
.call span i {
  font-size: 14px;
  color: var(--gray-scale-white);
}
.call span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
  padding-left: 6px;
}
/* nav */

/* Responsive Design */
@media (max-width: 576px) {
  .location_box span i {
    padding-right: 5px;
  }
  .location_box p {
    font-size: 8px;
    width: 140px;
  }
  .navigation_box ul li a {
    font-size: 10px;
  }
  .navigation_box ul li {
    padding-right: 5px;
  }
  .search input {
    padding: 7px 30px 7px 29px;
  }
  .search {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
  .values {
    display: none;
  }
  .search span {
    position: absolute;
    top: 10px;
    left: 13px;
  }
  #navigation_menu {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .location_box span i {
    padding-right: 5px;
  }
  .location_box p {
    font-size: 8px;
    width: 150px;
  }
  .navigation_box ul li a {
    font-size: 10px;
  }
  .navigation_box ul li {
    padding-right: 5px;
  }
  .search {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
  .values {
    display: none;
  }
  .search span {
    position: absolute;
    top: 10px;
    left: 154px;
  }
  #navigation_menu {
    display: none;
  }
}
/* Responsive Design */
